@{
    ViewData["Title"] = "Comenzar";
}
<h1>@ViewData["Title"]</h1>

<h1>Buen día compañero has aparecido en el bosque luego de haber tenido un accidente, no sabes cómo has llegado, pero para salir vas a tener que pasar ciertas instancias y salir antes de que se haga de noche y vengan los animales más salvajes de la zona.</h1>
<img src="bosquesin.png" alt="">
