@{
    ViewData["paginaprincipal"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la sala de escape</h1>
    <p><a href="Tutorial.cshtml">SALA DE ESCAPE</a>.</p>
</div>

<div>
    <h1>El nombre del juego es @ViewBag.NombreJuego</h1>
    <h2>El logo del juego es:</h2>  
    <img src="/img/wolf_logo.jpg">
</div>

  