<h1>Sala 4</h1>
Pinocho te ayuda a encontrar el camino para salir pero te encuentras con una última dificultad es una montaña alta y la tienes que escalar para poder escapar finalmente del bosque.
Con su trompa siempre pasa a tu lado zumbando.
<form method="post" action='@Url.Action("Habitacion","Home")'>
    Respuesta: 
    <input autocomplete="off" required type="text" name="clave" placeholder="Ingrese la respuesta"/><br/>
    <input type="hidden" name="Sala" value="4">
    <button type="submit"></button>
 </form>

 