<h1>Sala 3</h1>
Logras cazar el lobo, con su piel hacerte un abrigo y comer su carne jugosa.
Ahora con comida y refugio ya empiezas a querer escaparte, pero no sabes para que dirección seguir y te encuentras a … que te ayudara a escapar
Con un trozo de madera un hombre lo construyo.
<form method="post" action="Respuesta">
    Respuesta: <input autocomplete="off" type="text" name="Respuesta" placeholder="Ingrese la respuesta"/><br/>
 </form>