<h1>Sala 1</h1>
Buen día compañero has aparecido en el bosque luego de haber tenido un accidente, no sabes cómo has llegado,
pero para salir vas a tener que pasar ciertas instancias y salir antes de que se haga de noche y vengan los animales más salvajes de la zona.
Encuentras una cueva para refugiarte por un rato, pero hay algo que te impide entrar. Ya se esta haciendo de noche y necesitas refugiarte para no encontrarte
 en una situación de peligro.
 <img src="/img/bosquesin.PNG" width="450" height="450">
 <form method="post" action="Habitacion">
    Respuesta: 
    <input autocomplete="off" type="text" name="clave" placeholder="Ingrese la respuesta"/><br/>
    <input type="hidden" name="sala" value="0">
    <button type="submit"></button>
 </form>
