<h1>Sala 2</h1>
Has conseguido romper el árbol y ahora puedes entrar a la cueva y aunque has podido hacer una fogata con los pedazos del árbol anterior,
no tienes nada para comer y tienes frio. En ese momento encuentras un animal semi herido, el cual sería más fácil de atrapar y cazar.
El animal que deberás cazar:
¿Soy enemigo del pastor pues con sigilo le engaño y me llevo de su rebaño una oveja, la mejor, que es??
<form method="post" action="Respuesta">
    Respuesta: <input autocomplete="off" type="text" name="Respuesta" placeholder="Ingrese la respuesta"/><br/>
 </form>