@{
    ViewData["Title"] = "Tutorial";
}
<h1>@ViewData["Title"]</h1>
<p>Hola bienvenido si has venido aca es porque no sabes como jugar, Esatas en el lugar correcto</p>
<h5>Cuando presiones el btoton de comenzar apareceras en la primera sala y con las instrucciones necesarias para avanzar a la proxima,
    tendras que adivinar una adivinanza y escribir correctamente las respuestas. Si es correcto pasaras a la proxima sala, si es incorrecto,
    no vas a perder vas a tener 3 oportunidades y tambien un boton de pista que te va a ayudar a resolverlo.</h5>
<h5>Eapero que hayas entendido y siempre vas a poder volver al tutorial para leerlo, pero perderas el progreso.</h5>
<h5> Buena suerte y que comienze el juego</h5>
